.mt-4 {
    margin-left: 200px;
    margin-right: 200px;
}

.align-super {
    height: 80px;
    width: 12px;
    background-color: #0066B3;
}

.head-day {
    background-color: #E5E7EB;
}

.content-day {
    background-color: #B3D1E8;
    font-size: 13px;
    width: 150px;
}

a.direction {
    padding-top: 5px;
    color: black;
}

.button {
    background-color: white;
}

.active {
    color: white;
    background-color: #1ABAC5;
}

.content-two {
    height: 177px;
    background-color: #E6F7F9;
}

li {
    list-style: none;
}

a.option {
    text-decoration: none;
    color: black;
}

div#week {
    border-radius: 10px 10px 10px 10px;
}

.option.d-flex {
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
    padding-top: 3%;
}

a.option {
    text-decoration: none;
    color: black;
    padding: 5px 15px 5px 15px;
}

img.logo {
    height: 45px;
    padding-top: 15px;
    padding-left: 60px;
}

.row.bg-black {
    height: 65px;
}

.basic-skill a.bg-black {
    height: 45px;
    margin-right: 20px;
    margin-top: 6px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

.bill a.bg-black {
    height: 65px;
    padding-top: 3%;
    color: white;
}

p {
    margin-left: 10px;
    color: black;
    font-size: 18px;
    padding-top: 17px;
}

p.title-name {
    color: white;
    padding: 8px;
}

p.p-day {
    margin: 0px;
}

button.col-1.rounded-circle.bg-danger.text-white {
    width: 3rem;
    height: 3rem;
    margin-top: 1%;
    margin-left: 20px;
    margin-right: 40px;
}

div.col-1.rounded-circle.bg-danger.text-white {
    text-align: center;
    padding-top: 50px;
    padding-right: 0px;
    width: 9rem;
    height: 9rem;
    margin-top: 1%;
    margin-left: 20px;
    margin-right: 40px;
}

p[_ngcontent-uj7-c17] {
    color: white;
    padding-top: 1%;

    text-align: center;
}

.form-info {
    flex: 0 0 auto;
    width: 100%;
    border: 1px solid rgb(186, 176, 176);
    border-radius: 15px;
    margin-top: 40px;
    padding: 10px;
    font-size: 13px;
}

.register-settings {
    width: 100%;
    border: 1px solid rgb(186, 176, 176);
    border-radius: 15px;
    margin-top: 40px;
    padding: 20px;
    font-size: 13px;
}

.mb-4.form-check {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

.mb-4.form-check-address {
    padding-left: 10px;
    padding-right: 10px;
}

label {
    font-weight: 500;
}

p.name {
    padding-top: 50px;
    margin: 0 auto;
}

.a-day {
    text-decoration: none;
    padding: 5px;
    border: 1px solid;
    color: black;
}

.a-day:active {
    text-decoration: none;
    padding: 5px;
    border: 1px solid;
    color: white;
    background-color: rgba(68, 168, 168, 0.971);
}

.lettered-avatar {
    font-size: 30px;
}

.col-3.d-flex.lettered-avatar-wrapper.dark.justify-content-end {
    margin-top: 40px;
    margin-left: 10%;
}

.col-5 {
    flex: 0 0 auto;
}

.a-day:active {
    background-color: cadetblue;
}

label.btn.btn-outline-primary {
    height: 36px;
}

a.bg-black.active {
    color: red;
}

a.bg-black {
    color: white;
}

button.rounded-xl.bg-primary-800.text-white.hover\:bg-primary-900 {
    background-color: #1ABAC5;
    border: none;
    border-radius: 10px;
}
button.rounded-xl.bg-white.hover\:bg-gray-100 {
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
button.btn-yes {
    background-color: #1ABAC5;
    color: white;
    border: none;
    margin-right: 20px;
    height: 35px;
    width: 80px;
    border-radius: 30px;
}
button.btn-no {
    background-color: red;
    color: white;
    border: none;
    height: 35px;
    width: 80px;
    border-radius: 30px;
}
.swal2-icon-content {
    animation-name: example;
    animation-duration: 0.75s;
}
.swal2-icon .swal2-icon-content {
    display: flex;
    align-items: center;
    font-size: 3.75em;
}
[class^=swal2] {
    -webkit-tap-highlight-color: transparent;
}
  
  
  @keyframes example {
    0%   {transform: rotateY(0deg);}
  
    100% {transform: rotateY(360deg);}
  }