a.title{
    color: white;
    font-weight: bold;
    margin-right: 40px;
}
img.logo {
    height: 45px;
    padding-top: 15px;
    padding-left: 52px;
    margin-top: -10px;
    margin-right: 596px;
}
