<div class="option d-flex">
  <div class="option-button d-flex">
  </div>
  <div class="option-option-button">
    <div class="flex items-center space-x-8 rounded-2xl border px-4 py-1 text-no1" id="week">
      <a type="button" class="direction" (click)="LeftButton()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill"
          viewBox="0 0 16 16">
          <path
            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
        </svg>
      </a>
      <a class="option"> {{this.status}} </a>
      <a type="button" class="direction" (click)="RightButton()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path
            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
        </svg>
      </a>
    </div>
  </div>
</div>
<ul class="d-flex">
  <li *ngFor="let day of days" class="flex-fill">
    <div class="head-day ps-3 py-2 ">{{this.day}}</div>